{{#pattern}}{{^isByteArray}}@Matches(pattern="{{{pattern}}}")
    {{/isByteArray}}{{/pattern}}{{!
minLength && maxLength set
}}{{#minLength}}{{#maxLength}}@Length(min={{minLength}},max={{maxLength}})
    {{/maxLength}}{{/minLength}}{{!
minLength set, maxLength not
}}{{#minLength}}{{^maxLength}}@MinLength(min={{minLength}})
    {{/maxLength}}{{/minLength}}{{!
minLength not set, maxLength set
}}{{^minLength}}{{#maxLength}}@MaxLength(max={{maxLength}})
    {{/maxLength}}{{/minLength}}{{!
@Size: minItems && maxItems set
}}{{#minItems}}{{#maxItems}}@ArrayMinSize(min={{minItems}})
    @ArrayMaxSize(max={{maxItems}})
    {{/maxItems}}{{/minItems}}{{!
@Size: minItems set, maxItems not
}}{{#minItems}}{{^maxItems}}@ArrayMinSize(min={{minItems}})
    {{/maxItems}}{{/minItems}}{{!
@Size: minItems not set && maxItems set
}}{{^minItems}}{{#maxItems}}@ArrayMaxSize(max={{maxItems}})
    {{/maxItems}}{{/minItems}}{{!
check for integer or long / all others=decimal type with @Decimal*
isInteger set
}}{{#isInteger}}{{#minimum}}@Min({{minimum}}){{/minimum}}{{#maximum}}
    @Max({{maximum}})
    {{/maximum}}{{/isInteger}}{{!
isLong set
}}{{#isLong}}{{#minimum}}@Min({{minimum}}L){{/minimum}}{{#maximum}}
    @Max({{maximum}})
    {{/maximum}}{{/isLong}}